.content {
  flex: 1 0 auto;
}


/* Media queries */

@media (min-width: 769px){
  .main-header,
  .nav {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }
}