body {
    background-color: black;       
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
}

.intro {
    text-align: center;
    margin-top: 5em;
}

.card {
    width: 50%;
    margin: 5em auto;
    text-transform: uppercase;
    font-size: 14pt;
    text-align: center;
}

a {
    text-decoration: none;
    margin: 1em 2em;
}

a:visited {
  color: goldenrod;
}

.card-title {
    color: black;
}