body {
    background-color: black;       
    color: white;
}

.intro {
    text-align: center;
    margin-top: 10em;
    font-family: 'Playfair Display', serif;
}

.landing-pages {
    width: 50%;
    margin: 5em auto;
}

a {
    text-decoration: none;
}