body {
    background-color: rgb(27, 27, 27);       
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
}

.card {
    margin: 5em auto;
    text-transform: uppercase;
    text-align: center;
    transition: all .5s;
}

.card:hover {
    transform: scale(1.1);
    transition: all .5s;
}

.card-title {
    color: black;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
}